:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 20px;
}

* {
  box-sizing: border-box;
}

div {
  display: flex;
  flex-direction: column;
}

date-formatter + date-formatter {
  margin-top: 20px;
}

date-formatter {
  display: block;
  margin: 0 auto;
  --btn-padding: 10px;
  --btn-background: #bb9dcd;
  --btn-color: #ece9ee;
  --btn-hoverBackground: #73498c;
  --btn-hoverColor: #d2d0d3;
  --btn-border: none;
  --btn-borderRadius: 10px;
  --btn-fontSize: 20px;
  --btn-transition: background-color 300ms linear;
}